body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  /* Unsplashed photographer: Juan Manuel Vargas */
  background-image: url("../images/clouds2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 20px;
}

.jumbotron {
  text-align: right;
  background-color: transparent;
  color: white;
  border-radius: 0;
  border-bottom: 2px solid white;
}

button {
  background-color: rgba(250, 250, 250, 0.15);
  border-color: white;
  color: white;
}

button:hover {
  transform: scale(1.05);
}

#clearbtn:hover span {
  display: none;
}

#clearbtn:hover:before {
  content: "clear timetable";
}
